{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">📅 Buscar Reserva</h2>

<form method="POST" class="mb-4">
    <input type="text" name="texto" 
           placeholder="Ingrese nombre del cliente"
           class="form-control mb-2">

    <button type="submit" class="btn btn-success btn-lg m-2">
         🔍 Buscar
    </button>
</form>

{% if mensaje %}

<div class="alert alert-danger text-center">
    {{ mensaje }}
</div>

{% endif %}

{% if resultados %}

<table class="table table-bordered table-striped">

<tr>
<th>ID</th>
<th>Cliente</th>
<th>Fecha</th>
<th>Personas</th>
<th>Observación</th>
<th>Mesa</th>
<th>Horario</th>
</tr>

{% for r in resultados %}

<tr>
<td>{{ r.id_reserva }}</td>
<td>{{ r.cliente }}</td>
<td>{{ r.fecha_reserva }}</td>
<td>{{ r.cantidad_personas }}</td>
<td>{{ r.observacion }}</td>
<td>{{ r.mesa }}</td>
<td>{{ r.horario }}</td>
</tr>

{% endfor %}

</table>

{% endif %}

{% endblock %}