{% extends "base.html" %}
{% block content %}

<h2>Buscar Cliente</h2>

<form method="POST">
    <input type="text" name="texto" placeholder="Ingrese nombre">
    <input type="submit" value="Buscar">
</form>

{% if resultados %}
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Celular</th>
    </tr>

    {% for p in resultados %}
    <tr>
        <td>{{ p.id_cliente }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.celular }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}