{% extends "base.html" %}
{% block title %}Nuevo Cliente{% endblock %}

{% block content %}
<h2>Registrar Nuevo Cliente</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <!-- Nombre -->
    <div>
        {{ form.nombre.label }}<br>
        {{ form.nombre(size=32) }}<br>
        {% for error in form.nombre.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    
    <!-- Apellido -->
    <div>
        {{ form.apellido.label }}<br>
        {{ form.apellido(size=32) }}<br>
        {% for error in form.apellido.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <!-- Email -->
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <!-- Celular -->
    <div>
        {{ form.celular.label }}<br>
        {{ form.celular(size=32) }}<br>
        {% for error in form.celular.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>


 
    <button type="submit" class="btn btn-success btn-lg px-4">
    💾 Guardar Cliente
    </button>

</form>

{% endblock %}