{% extends "base.html" %}
{% block title %}Nuevo Cliente{% endblock %}

{% block content %}
<h2>Registrar Nuevo Cliente</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <!-- Nombre -->
    <div>
        {{ form.nombre.label(class="form-label") }}<br>
        {{ form.nombre(class="form-control") }}<br>
        {% for error in form.nombre.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    
    <!-- Apellido -->
    <div>
        {{ form.apellido.label(class="form-label") }}<br>
        {{ form.apellido(class="form-control") }}<br>
        {% for error in form.apellido.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <!-- Email -->
    <div>
        {{ form.email.label(class="form-label") }}<br>
        {{ form.email(class="form-control") }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <!-- Celular -->
    <div>
        {{ form.celular.label(class="form-label") }}<br>
        {{ form.celular(
            class="form-control",
            pattern="[0-9]{10}",
            maxlength="10",
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        ) }}<br>

        {% for error in form.celular.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>


 
    <button type="submit" class="btn btn-success btn-lg px-4">
    💾 Guardar Cliente
    </button>
    <a href="{{ url_for('clientes_listar') }}" class="btn btn-outline-secondary btn-lg px-4">
    ↩ Cancelar
    </a>

</form>


{% endblock %}