{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block content %}

<div class="card shadow p-4" style="max-width:900px; margin:auto;">

<h2 style="text-align:center;">📞 Contacto</h2>

<p style="text-align:center;">
A través de nuestro canal de contacto podrá realizar sus consultas y coordinar su
visita de manera personalizada. También puede efectuar su reserva para asegurar
su mesa en la fecha y horario de su preferencia.
</p>

<hr>

<h3>📍 Dirección</h3>

<p>
Av. Seminario & 9 de Octubre <br>
Ventanas EC
</p>

<h3>☎ Números de teléfono</h3>

<p>
(05) 548-0324 <br>
1-800-159-0542
</p>

<h3>📧 Correo Electrónico</h3>

<p>
leñasteakh@gmail.com <br>
leñahousest@hotmail.com
</p>

</div>

{% endblock %}