{% block content %}
<h2>Persistencia de Datos con txt, json csv</h2>
<form method="POST">
    <label for="">Nombre  </label>
    <input type="text" name="nombre" id="">
    
    <label for="">Apellido  </label>
    <input type="text" name="apellido" id="">

    <label for=""> Email </label>
    <input type="text" name="email" id="">

    <label for="">Celular </label>
    <input type="text" name="celular" id="">

    <button type="submit">Guardar</button>
    
</form>

<hr>
<h3>Txt</h3>
<ul>
{% for line in datos_txt %}
<li>{{line}}</li>
{% endfor %}
</ul>

<h3>Json</h3>
<pre>{{datos_json | tojson (indent=2)}}</pre>

<h3>CSV </h3>
<table border="1">
    <tr>

        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Celular</th>
       
    </tr>
    {% for item in datos_csv %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}