{% extends "base.html" %}

{% block content %}

<h2>Horarios</h2>

<div class="top-bar">

    <a href="{{ url_for('horario_nuevo') }}" class="btn btn-primary">
        ➕ Agregar Nuevo Horario
    </a>


    <div class="text-center my-3">


    <a href="{{ url_for('pdf_horarios') }}" class="btn btn-danger me-2">
        📄 PDF 
    </a>


    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalRangoHorarios">
        📊 Por Rango
    </button>

    </div>
    <div style="display: flex; gap: 10px; align-items: center;">
        <input type="text" id="buscarHorario"
            class="form-control search-unificado"
            list="listaHorarios"
            placeholder="🔍 Buscar horario...">

        <button id="btnBuscarHorario" class="btn btn-success">
            Buscar
        </button>
    </div>
</div>
    <datalist id="listaHorarios">
    {% for h in horarios %}
    <option value="{{ h.id_horario}}">
    {% endfor %}
    </datalist>

<table id="tablaHorarios" class="table table-striped table-bordered">

<thead>
<tr>
<th>ID</th>
<th>Hora inicio</th>
<th>Hora fin</th>
<th>Descripción</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

{% for h in horarios %}

<tr>
<td>{{ h.id_horario }}</td>
<td>{{ h.hora_inicio }}</td>
<td>{{ h.hora_fin }}</td>
<td>{{ h.descripcion }}</td>

<td>

<a href="{{ url_for('editar_horario', id=h.id_horario) }}" class="btn btn-warning btn-sm">
✏ Editar
</a>

<a href="{{ url_for('eliminar_horario', id=h.id_horario) }}" class="btn btn-danger btn-sm">
🗑 Eliminar
</a>

</td>

</tr>

{% else %}

<tr>
<td colspan="5">No hay horarios registrados</td>
</tr>

{% endfor %}

</tbody>

</table>

<div id="paginacionHorarios" class="pagination"></div>
<p id="contadorHorarios"></p>
<script>
document.addEventListener("DOMContentLoaded", function () {
    activarTabla("tablaHorarios", "buscarHorario", "btnBuscarHorario", "paginacionHorarios","contadorHorarios","id");
});
</script>
<!-- MODAL RANGO HORARIOS -->
<div class="modal fade" id="modalRangoHorarios" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="POST" action="{{ url_for('pdf_horarios_rango') }}">

        <div class="modal-header">
          <h5 class="modal-title">Descargar Horarios por rango</h5>
        </div>

        <div class="modal-body">
          <input type="number" name="inicio" class="form-control mb-2" placeholder="ID inicio" required>
          <input type="number" name="fin" class="form-control" placeholder="ID fin" required>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-success">
              📄 Descargar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}