{% extends "base.html"%}
{% block title %} Página de productos {% endblock %}

{% block content %}
    <h2> {{titulo}} </h2>
    <Form method="POST">
        {{form.hidden_tag()}} 
        <div>
            {{form.nombre.label}}<br>
            {{form.nombre (size=32)}}<br>
            {% for error in form.nombre.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}

        </div>
          <div>
            {{form.descripcion.label}}<br>
            {{form.descripcion (size=32)}}<br>
            {% for error in form.descripcion.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}

        </div> 
          <div>
            {{form.cantidad.label}}<br>
            {{form.cantidad (size=32)}}<br>
            {% for error in form.cantidad.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}

        </div>
        <div>
            {{form.precio.label}}<br>
            {{form.precio (size=32)}}<br>
            {% for error in form.precio.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}

        </div>
       
        <div>
             {{form.submit()}}
        </div>
        <div>
            
        </div>
    </form>
{% endblock %}