{% extends "base.html" %}

{% block title %}Gestión de Reservas{% endblock %}

{% block content %}

<h2>Reservas</h2>

<div class="top-bar">

    <a href="{{ url_for('reserva_nuevo') }}" class="btn btn-primary">
        ➕ Agregar Nueva Reserva
    </a>

    <div class="text-center my-3">

    <a href="{{ url_for('pdf_reservas') }}" class="btn btn-danger me-2">
    📄 PDF 
    </a>

    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalReservas">
    📊 Por Fecha
    </button>

    </div>

    <div style="display: flex; gap: 10px; align-items: center;">
        <input type="text" id="buscarReserva"
            class="form-control search-unificado"
            list="listaReservas"
            placeholder="🔍 Buscar reserva...">

        <button id="btnBuscarReserva" class="btn btn-success">
            Buscar
        </button>
    </div>
</div> 
    <datalist id="listaReservas">
    {% for r in reservas %}
    <option value="{{ r.fecha_reserva }}">
    {% endfor %}
    </datalist>

<table id="tablaReservas" class="table table-striped table-bordered">

<thead>
<tr>
<th>ID</th>
<th>Fecha</th>
<th>Personas</th>
<th>Observación</th>
<th>Cliente</th>
<th>Mesa</th>
<th>Horario</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

{% for reserva in reservas %}

<tr>
<td>{{ reserva.id_reserva }}</td>
<td>{{ reserva.fecha_reserva }}</td>
<td>{{ reserva.cantidad_personas }}</td>
<td>{{ reserva.observacion }}</td>
<td>{{ reserva.cliente }}</td>
<td>{{ reserva.mesa }}</td>
<td>{{ reserva.horario }}</td>
<td>

<a href="{{ url_for('editar_reserva', id=reserva.id_reserva) }}" class="btn btn-warning btn-sm">
✏ Editar
</a>

<a href="{{ url_for('eliminar_reserva', id=reserva.id_reserva) }}" class="btn btn-danger btn-sm">
🗑 Eliminar
</a>

</td>

</tr>

{% else %}

<tr>
<td colspan="8">No hay reservas registradas</td>
</tr>

{% endfor %}

</tbody>

</table>
<div id="paginacionReservas" class="pagination"></div>
<p id="contadorReservas"></p>
<script>
document.addEventListener("DOMContentLoaded", function () {
    activarTabla("tablaReservas", "buscarReserva", "btnBuscarReserva", "paginacionReservas","contadorReservas","reserva");
});
</script>
<div class="modal fade" id="modalReservas">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="POST" action="{{ url_for('pdf_reservas_rango') }}">

        <div class="modal-header">
          <h5 class="modal-title">Reservas por rango de fecha</h5>
        </div>

        <div class="modal-body">
            <input type="date" name="inicio" class="form-control mb-2" required>
            <input type="date" name="fin" class="form-control" required>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-success">
              📄 Descargar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}