{% extends "base.html" %}
{% block title %}Nueva Reserva{% endblock %}

{% block content %}
<h2 class="mb-4">Registrar Nueva Reserva</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <!-- FILA 1: Fecha + Personas -->
    <div class="row mb-3">
        <div class="col-md-6">
            {{ form.fecha_reserva.label(class="form-label") }}
            {{ form.fecha_reserva(class="form-control") }}
        </div>

        <div class="col-md-6">
            {{ form.personas.label(class="form-label") }}
            {{ form.personas(class="form-select") }}
        </div>
    </div>

    <!-- FILA 2: Cliente -->
    <div class="mb-3">
        {{ form.id_cliente.label(class="form-label") }}
        {{ form.id_cliente(class="form-select") }}
    </div>

    <!-- FILA 3: Mesa -->
    <div class="mb-3">
        {{ form.id_mesa.label(class="form-label") }}
        {{ form.id_mesa(class="form-select") }}
    </div>

    <!-- FILA 4: Horario -->
    <div class="mb-3">
        {{ form.id_horario.label(class="form-label") }}
        {{ form.id_horario(class="form-select") }}
    </div>

    <!-- FILA 5: Observación (más grande) -->
    <div class="mb-3">
        {{ form.observacion.label(class="form-label") }}
        <textarea name="observacion" class="form-control" rows="4"></textarea>
    </div>

    <!-- BOTONES -->

    <button type="submit" class="btn btn-success btn-lg px-4">
    💾 Guardar Reserva
    </button>
    <a href="{{ url_for('reservas') }}" class="btn btn-outline-secondary btn-lg px-4">
    ↩ Cancelar
    </a>

</form>

{% endblock %}