{% extends "base.html" %}

{% block content %}

<h2>Usuarios</h2>

<div class="top-bar">

    <a href="{{ url_for('usuario_nuevo') }}" class="btn btn-primary">
        ➕ Agregar Nuevo usuario
    </a>

    <div class="text-center my-3">

        <a href="{{ url_for('pdf_usuarios') }}" class="btn btn-danger me-2">
            📄 PDF 
        </a>

        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalUsuarios">
            📊 Por Rango 
        </button>

    </div>

    <div style="display: flex; gap: 10px; align-items: center;">
        <input type="text" id="buscarUsuario"
            class="form-control search-unificado"
            list="listaUsuarios"
            placeholder="🔍 Buscar usuario...">

        <button id="btnBuscarUsuario" class="btn btn-success">
            Buscar
        </button>
    </div>

</div>
    <datalist id="listaUsuarios">
    {% for u in usuarios %}
    <option value="{{ u.nombre }}">
    {% endfor %}
    </datalist>

<table id="tablaUsuarios" class="table table-striped table-bordered">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Email</th>
<th>Password</th>
<th>Acciones</th>
</tr>

{% for u in usuarios %}

<tr>
<td>{{u.id_usuario}}</td>
<td>{{u.nombre}}</td>
<td>{{u.email}}</td>
<td>********</td>
<td class="acciones">

<a href="{{ url_for('editar_usuario', id=u.id_usuario) }}" class="btn btn-warning btn-sm">
✏ Editar
</a>

<a href="{{ url_for('eliminar_usuario', id=u.id_usuario) }}" class="btn btn-danger btn-sm">
🗑 Eliminar
</a>


</td>

</tr>

{% else %}

<tr>
<td colspan="5">No hay usuarios registrados</td>
</tr>

{% endfor %}

</table>
<div id="paginacionUsuarios" class="pagination"></div>
<p id="contadorUsuarios"></p>

<script>
document.addEventListener("DOMContentLoaded", function () {
    activarTabla("tablaUsuarios", "buscarUsuario", "btnBuscarUsuario", "paginacionUsuarios","contadorUsuarios","general");
});
</script>
<div class="modal fade" id="modalUsuarios">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="POST" action="{{ url_for('pdf_usuarios_rango') }}">

        <div class="modal-header">
          <h5 class="modal-title">Usuarios por rango de ID</h5>
        </div>

        <div class="modal-body">
          <input type="number" name="inicio" class="form-control mb-2" placeholder="ID inicio" required>
          <input type="number" name="fin" class="form-control" placeholder="ID fin" required>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-success">
              📄 Descargar
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}